
.Form{
    
    border: 1px solid black;
    border-radius: 25px;
    width: 50%;
    height: 50%;
    margin: auto;
    padding: 20px;

    
}

.formContent{
    display: flex;
    gap: 20px;

}

.form1{
    flex: auto;
}


.labels{
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}

input{
    display: inline-block;
    margin-bottom: 15px
}