body{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
    background-image: url(images/form-background.jpg);
    background-size: cover;
    font-family: "Montserrat";
    color: rgb(240, 224, 200);
    font-size: 1em;
}   
.Form{
    border-radius: 25px;
    width: 50%;

    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #4b20203b;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.79);

    
    
}

.formContent{
    display: flex;
    gap: 20px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;

}

.form1, .form2{
    width: 45%;
    
}

.button-section {
    width: 100%;
    ;
}


.labels{
    display: inline-block;
    margin-bottom: 5px;

    
}

.inputDetails{
    display: inline-block;
    border: none;
    border-bottom: 1px solid white;
    height: 25px;
    width: 80%;
    margin-bottom: 25px;
    box-shadow: inset;
    background-color: rgba(255, 255, 255, 0);
    color: white;
}


textarea {
    max-width: 75%;
    background-color: rgba(0, 0, 0, 0.044);
    border: 0px;
    border-style: inset;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.378);
}

.selectors{
    border: 0px;

}